body {
  background-color: #e6ecf0;
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */

.navbar {
  margin-bottom: 1rem;
  /* background-color: #ff9645;  */
  background-image: linear-gradient(to right, #ff9645 , #ffe252);
  /* color: #343a40; */
}

.navbar a {
  font-weight: bold;
  color: #343a40;
}

.navbar a:hover {
  color: #f6f3f0;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

/* .navigation > .navbar {
  background-image: url('./images/nav-bg.png');
  background-size: 100% 100%;
} */

/* Home page */

.home {
  height: 90vw;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  text-align: center;
}

.left {
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.home h4 {
  font-size: 3rem;
}
.home span {
  font-size: .75rem;
}

.right {
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered h1 {
  padding-top: 10rem;
  font-size: 4rem;
}

.centered img {
  width: 650px;
  padding-right: 50px;
}